* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    transition: all 0.5s;
    background-color: #f4f4f4;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: #ffb703;
    transform: scale(1.05);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 3rem;
    color: #333;
    text-align: center;
}

.stopwatch-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.screen {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    gap: 10px;
}

.btns button {
    padding: 10px 20px;
    background-color: #ffb703;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btns button:hover {
    background-color: #ff8c00;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 2rem;
    }

    .screen {
        font-size: 2rem;
    }
}
